<%- include("header", {title: title}); %>

<h1><%= to %> says thanks</h1>

<p><%= from %> has sent <%= to %> the amount of <%= amount %> bitcoin.</p>

<p><%= to %> says "Thank you!".</p>

<%- include("footer"); %>
