<%- include("header", {title: title}); %>

<h1>Produkt</h1>

<pre><%#= JSON.stringify(res, null, 4) %></pre>

<table>
    <tr>
        <th>Benämning</th>
        <th>Beskrivning</th>
        <th>Pris</th>
        <th>Lagerantal</th>
    </tr>
<% for (const row of res) { %>
    <tr>
        <td><%= row.benamning %></td>
        <td><%= row.beskrivning %></td>
        <td class="right"><%= row.pris %></td>
        <td class="right"><%= row.antal %></td>
    </tr>
<% }; %>
</table>

<%- include("footer"); %>
