<%- include("header", {title: title}); %>

<h1>Ta bort produkt</h1>

<pre><%= JSON.stringify(produkt, null, 4) %></pre>

<% produkt = produkt[0] %>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Benämning</th>
            <th>Beskrivning</th>
            <th>Pris</th>
            <th>I lager</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    <tr>
        <td><%= produkt.id %></td>
        <td><%- produkt.link %></td>
        <td><%= produkt.beskrivning %></td>
        <td><%= produkt.pris %></td>
        <td><%= produkt.antal %></td>
        <td><a href="/update/<%= produkt.id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
    </tr>
    </tbody>
</table>
<form class="label-left" method="post" action="/delete">
    <fieldset>
        <input type="hidden" id="f_id" name="f_id" value="<%= produkt.id %>">
        <input type="submit" name="delete" value="Delete">
    </fieldset>
</form>

<%- include("footer"); %>
