<%- include("header", {title: title}); %>

<h1>Produkter</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Benämning</th>
            <th>Beskrivning</th>
            <th>Pris</th>
            <th>I lager</th>
        </tr>
    </thead>
    <tbody>
<% for (const row of produkter) { %>
    <tr>
        <td><%= row.id %></td>
        <td><%= row.benamning %></td>
        <td><%= row.beskrivning %></td>
        <td><%= row.pris %></td>
        <td><%= row.antal %></td>
    </tr>
<% }; %>
    </tbody>
</table>

<%- include("footer"); %>
